:root {
  --sidebar-width: var(--space-32x);
  --layout-columns: var(--sidebar-width) auto;
  --layout-rows: var(--space-8x) auto;
  --hpad: var(--space-2x);
  --vpad: var(--space-1x);
  --background-color: hsl(240, 25%, 9%);
}

body {
  color: #333;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: grid;
  grid-template-columns: var(--layout-columns);
  align-items: stretch;
  align-content: start;
}

nav {
  padding-top: var(--space-6x);
  align-self: stretch;
  width: var(--sidebar-width);
  min-height: calc(100vh);
}

nav > div {
  position: sticky;
  top: var(--space-6x);
  left: 0;
  display: grid;
  align-self: stretch;
  align-items: start;
  align-content: stretch;
}

nav > div > :first-child {
  align-self: start;
}

nav > div > :last-child {
  align-self: end;
}

main {
  max-width: 1500px;
  width: 100%;
  /* min-height: 700px; */
  padding-top: var(--space-8x);
  padding-bottom: var(--space-8x);
  padding-bottom: var(--space-12x);
}

@media (max-width: 1400px) {
  main {
    width: 100%;
  }
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.subtitle1 {
  height: 40px;

  font-size: 40px;
  line-height: 28px;
  padding: 25px;
}

.subtitle2 {
  width: 837px;
  height: 32px;

  font-size: 32px;
  line-height: 28px;
  padding: 25px;
}

.custom_label, .label_large {
  font-weight: bold;
  padding-right: 5px;
}

.label_large, .text_large {
  font-size: 18px;
  text-transform: capitalize;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  padding-left: 25px;
  padding-bottom: 25px;
}

.row_left, .row_right {
  width: 50%;
  display: inherit;
}

.indent {
  padding-left: 25px;
}
